@import "../fonts/stylesheet.css";
@import "./mixins";

$background-color: #F7FAFB;
$background-main: #FFFFFF;
$background-aside: #062436;
$background-selected: #15526A;
$background-block-selected: #F3FCFF;

$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #7A8185;
$color-title: #062436;
$color-link: #3DBDF6;

$border-selected: #3DBDF6;
$border-color: #F7FAFB;
